
    
   <%- include('./partials/header'); -%>
 
    <h1>Express Movies : les site des cinéphiles</h1>
    
    <div>
        Etes-vous plutot films ou series ? Peut import, vous trouverez votre bonheur dans les deux cas .
    </div>

    <%- include('./partials/footer'); -%>